importing dependences

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_mode import LogisticRegression

In [ ]:
from sklearn.metrics import accuracy_score,classification_report

reading the dataset and doing pre-processing

In [ ]:
loan_dataSet = pd.read_csv('loanPredict.csv')

In [ ]:
#viewing the top five elements of the dataset
loan_dataSet.head()

In [ ]:
# viewing the last five elements of the dataset
loan_dataSet.tail()

The dataSet contains various empty spaces, that has to be solved

In [ ]:
#checking for the features that contains null values
loan_dataSet.isnull().sum()

In [ ]:
#since the dataset contain various categorical values that can't be filled using some kind of mean and average
#hence dropping the values rows that have null values
loan_dataSet = loan_dataSet.dropna()

In [ ]:
#Checking again for null values
loan_dataSet.isnull().sum()

since, the dataset contains various catagorical values, hence converting them into numerical values

In [ ]:
loan_dataSet.replace({'Gender': {'Male': 1, 'Female': 0}, 
                      'Married': {'Yes': 1, 'No': 0}, 
                      'Education': {'Graduate': 1, 'Not Graduate': 0}, 
                      'Self_Employed': {'Yes': 1, 'No': 0}, 
                      "Dependents":{'3+': 4}, 
                      'Property_Area': {'Rural': 1, 'Urban': 2, 'Semiurban': 3}, 
                      'Loan_Status': {'Y': 1, 'N': 0}},inplace=True)

In [ ]:
#viewing the top five values of the dataset
loan_dataSet.head()

Since, The pre-processing of the data is completed .Now, we'll start to split our data for training the model

In [ ]:
X = loan_dataSet.iloc[:,1:-1]
y = loan_dataSet.iloc[:,-1]

In [111]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,1
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,1
610,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,1
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,2
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,2
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,3

In [112]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [ ]:
#Spliting the data into training and testing data
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,stratify=y,random_state=5)

In [ ]:
#creating the prediction model
model = svm.SVC(kernel='linear')

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
#comparing the predicted data with the actual data
accuracy_score(y_pred,y_test)

In [ ]:
print(classification_report(y_pred,y_test))